<ion-list>
    <ion-list-header>
      Osiągnięcia
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="">
      </ion-avatar>
      <ion-label>
        <h2>Kadet</h2>
        <h3>Pierwszy trening na klatke piersiową.</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="">
      </ion-avatar>
      <ion-label>
        <h2>Początkujący</h2>
        <h3>Pełny trening całego ciała.</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="">
      </ion-avatar>
      <ion-label>
        <h2>Siłacz Junior</h2>
        <h3>Pierwsze 100kg w wyciskaniu sztangi na klatkę piersiową</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="">
      </ion-avatar>
      <ion-label>
        <h2>Strongman</h2>
        <h3>Trening dwuboju</h3>
      </ion-label>
    </ion-item>
  </ion-list>