@import '../../../../../styles/variables';
.main-container{ 
    &-profile{
        height: 60%;
        display: block;   
    }
}
.profile-picture{
    height: 60%;
    text-align: center;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-image: $green-teal-gradient;
}
.rate{
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 0;
}
.rate-amount {
    margin-bottom: 1rem;
    font-size: .8rem;
}
.stars{
    font-size: 30px;
    color: #555;
    margin: 0;
}
.profile-description{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #555;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        ion-icon {
            position: absolute;
            right: 0;
            top: -1rem;
        }
    }
    p {
        margin-top: 0;
    }
    &-field {
        border-radius: 8px;
        padding: .75rem;
        outline: none;
        &:focus {
            border: 2px solid $mixed-main-colours;
        }
    }
}
.delete-from-friends {
    --background: linear-gradient(to right top, #f41919, #f41b25, #f41f2f, #f32338, #f22840, #f32b43, #f32e45, #f43148, #f73346, #fa3543, #fc3741, #ff393e);
    --color: white;
    margin-left: auto;
    display: block;
}
.description-edit {
    position: absolute;
    font-size: 25px;
    right: 0.25rem;
    top: 0.25rem;
}
.profile-tab{
    height: 15%;
    display: flex;
    padding-bottom: .75rem;
}
.ratings, .friends, .achivments, .settings, .trainings{
    width: 8rem;
    text-align: center;
    display: block;
    outline: 0;
}
ion-icon{
    font-size: 40px;
    margin: .8rem;
    color: #555;
}
.tab-select{
    border-bottom: solid 2px $mixed-main-colours;
}
span{
    margin: 1rem;
}
.gradient-1{
    background-image: $green-teal-gradient;
}
.gradient-2{
    background-image: $blue-purple-gradient;
}
.gradient-3{
    background-image: $orange-darken-gradient;
}
.iconbox{
    display: flex;
    position: fixed;
    left: 0px;
    width: 50%;
    &--2{
        display: flex;
        position: fixed;
        right: 0px;
        width: 50%; 
    }
}
.chatbox{
    position: absolute;
    right: 0px;
}
.scrolled-icon{
    opacity: .4;
}
.unreaded-messages__amount {
    position: absolute;
    left: 2.25rem;
    top: 1rem;
    font-size: 1.25rem;
    color: red;
}
.description__changer {
    --background: linear-gradient(to right top, #15e6b5, #39e9b1, #4fecad, #61efaa, #71f2a6, #6af2ae, #63f3b6, #5cf3be, #3ef0d1, #22ede2, #1ce8f0, #34e3fa);
    --color: #555;
}
@media only screen and (max-width: 340px){
    .ratings, .friends, .achivments, .settings, .trainings{
        font-size: 12px;
    }
}
.star-color{
    color: $mixed-main-colours;
}
