<app-header [isProfileTab]="true" [title]="'Profil'" [additionalTemplate]="additionalButton"></app-header>
<ng-template #additionalButton>
<ion-button routerLink="/notifications" class="short-button short-button-primary">
  <img src="assets/custom_icons/svg/notification.svg" class="notify">
  <span class="notifications__amount" *ngIf="notDisplayedNotificationsAmount > 0">{{ notDisplayedNotificationsAmount }}</span>
</ion-button>
</ng-template>
<ion-content [scrollEvents]="true" (ionScroll)="scrollHandler($event)">
  <div class="main-container">
    <div class="main-container-profile" >
      <div class="background-profile"></div>
      <div class="profile-picture">
        <ng-container *ngIf="!user.isMyProfile">
          <div class="iconbox" > 
            <ion-icon  name="arrow-back" (click)="exitDisplayOtherProfileMode()" [ngClass]="{'scrolled-icon':scrollYPos > 10}"></ion-icon>
          </div> 
          <div class="iconbox--2" >
            <ion-icon name="chatboxes" class="chatbox" *ngIf="user.email !== ownerEmail" (click)="openChat()" [ngClass]="{'scrolled-icon':scrollYPos > 10}"></ion-icon>
          </div>
        </ng-container>
        <ng-container *ngIf="user.isMyProfile">
          <div class="iconbox--2" routerLink="/chat">
            <img src="assets/custom_icons/svg/chat.svg" class="chatbox" alt="chat" [ngClass]="{'scrolled-icon':scrollYPos > 10}">
            <span class="unreaded-messages__amount" *ngIf="unreadedMessagesAmount > 0">{{unreadedMessagesAmount}}</span>
          </div>
        </ng-container>
         <img-loader (click)="presentActionSheet()" [src]="user.imgUrl || 'assets/images/profile-picture.png'" [imgAttributes]="imageAttributes" useImg></img-loader>
      </div>
      <div class="profile-description">
        <div class="profile-description__title">
          <h2>{{user.name}} {{user.surname}}</h2>
        </div>
        <ng-container *ngIf="user.accessLevel === 2">
          <div class="rate">
            <ion-icon class="stars" name="star" *ngFor="let star of ratingTab" [ngClass]="{'star-color': star <= user.ratesSum / user.ratesAmount}"></ion-icon>
          </div>
          <span class="rate-amount">{{user.isMyProfile ?  (user.ratesAmount || 0) + ' osoby oceniły twój profil' : (user.ratesAmount || 0) + ' osoby oceniły tego trenera'}}</span>
        </ng-container>
        <ion-grid>
          <ion-row align-items-start justify-content-end>
            <ion-col size="2">
              <img src="assets/custom_icons/svg/pencil.svg" *ngIf="!editMode && user.isMyProfile" (click)="changeEditMode()" class="description-edit" alt="edit">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <textarea [(ngModel)]="user.profileDescription" maxlength="150" class="w-100" cols="30" rows="10" class="profile-description-field" *ngIf="editMode && user.isMyProfile"></textarea>
              <p *ngIf="!editMode && user.isMyProfile">{{user.profileDescription || 'Napisz coś o sobie ...'}} </p>
              <p *ngIf="!editMode && !user.isMyProfile">{{user.profileDescription}} </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!user.isMyProfile && user.isFriend">
            <ion-col >
              <ion-button class="delete-from-friends" (click)="deleteFriend()">Usuń z listy znajomych</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="description__changer" (click)="saveDescription()" *ngIf="editMode && user.isMyProfile">
                Zatwierdz
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> 
    </div>
    <router-outlet name="router1"></router-outlet>
    <router-outlet name="router2"></router-outlet>
  </div>
</ion-content>
