<ion-content [scrollEvents]="true" (ionScroll)="scrollHandler($event)">
  <div class="main-container">
    <div class="main-container-profile" >
      <div class="profile-picture"  [ngClass]="{'gradient-1':user.gradient  === 1, 'gradient-2':user.gradient  === 2, 'gradient-3':user.gradient  === 3}">
        <ng-container *ngIf="!user.isMyProfile">
          <div class="iconbox" > 
            <ion-icon  name="arrow-round-back" (click)="exitDisplayOtherProfileMode()" [ngClass]="{'scrolled-icon':scrollYPos > 10}"></ion-icon>
            <ion-icon  name="chatboxes" [ngClass]="{'scrolled-icon':scrollYPos > 10}"></ion-icon>
          </div> 
        </ng-container>
        <ng-container *ngIf="user.userType === 1 || user.userType === 2">
          <div class="iconbox" routerLink="/chat"> 
            <ion-icon  name="chatboxes" [ngClass]="{'scrolled-icon':scrollYPos > 10}"></ion-icon>
            <span class="unreaded-messages__amount" *ngIf="unreadedMessagesAmount > 0">{{unreadedMessagesAmount}}</span>
          </div> 
        </ng-container>
        <img-loader (click)="presentActionSheet()" [src]="user.imgUrl" [imgAttributes]="imageAttributes" useImg></img-loader>
      </div>
      <div class="profile-description">
        <div class="profile-description__title">
          <h2>{{user.name}} {{user.surname}}</h2>
          <ion-icon name="chatboxes" *ngIf="user.email !== ownerEmail" (click)="openChat()"></ion-icon>
        </div>
        <ion-grid>
          <ion-row align-items-start justify-content-end>
            <ion-col size="2">
              <ion-icon name="create" *ngIf="!editMode && user.isMyProfile" (click)="changeEditMode()" class="description-edit"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <textarea [(ngModel)]="user.profileDescription" maxlength="150" class="w-100" cols="30" rows="10" class="profile-description-field" *ngIf="editMode && user.isMyProfile"></textarea>
              <p *ngIf="!editMode">{{user.profileDescription}} </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="description__changer" (click)="saveDescription()" *ngIf="editMode && user.isMyProfile">
                Zatwierdz
                </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> 
    </div>
    <div class="profile-tab">
    <ng-container *ngIf="user.userType === 1">
        <div class="friends" routerLink="/user/profile/friends" (click)="switchProfileTab(1)" [ngClass]="{'tab-select':selectedProfileTab  === 1}">
          <ion-icon name="contacts"></ion-icon>
          <span>Znajomi</span>
        </div>
        <div class="achivments" routerLink="/user/profile/achivment" (click)="switchProfileTab(2)" [ngClass]="{'tab-select':selectedProfileTab  === 2}">
          <ion-icon name="trophy"></ion-icon>
          <span>Osiągnięcia</span>
        </div>
        <div class="settings" routerLink="/user/profile/settings" (click)="switchProfileTab(3)" [ngClass]="{'tab-select':selectedProfileTab  === 3}">
          <ion-icon name="settings"></ion-icon>
          <span>Ustawienia</span>
        </div>
    </ng-container>

    <ng-container *ngIf="user.userType === 2">
        <div class="friends" routerLink="/user/profile/friends" (click)="switchProfileTab(1)" [ngClass]="{'tab-select':selectedProfileTab  === 1}">
          <ion-icon name="contacts"></ion-icon>
          <span>Znajomi</span>
        </div>
        <div class="settings" routerLink="/user/profile/settings" (click)="switchProfileTab(2)" [ngClass]="{'tab-select':selectedProfileTab  === 2}">
          <ion-icon name="settings"></ion-icon>
          <span>Ustawienia</span>
        </div>
        <div class="ratings" routerLink="/user/profile/rate" (click)="switchProfileTab(3)" [ngClass]="{'tab-select':selectedProfileTab  === 3}">
          <ion-icon name="star-outline"></ion-icon>
          <span>Rateings</span>
        </div>
    </ng-container>

    <ng-container *ngIf="user.userType === 3">
        <div class="friends" routerLink="/user/profile/friends" (click)="switchProfileTab(1)" [ngClass]="{'tab-select':selectedProfileTab  === 1}">
          <ion-icon name="contacts"></ion-icon>
          <span>Znajomi</span>
        </div>
        <div class="trainings" routerLink="/user/profile/trainings" (click)="switchProfileTab(2)" [ngClass]="{'tab-select':selectedProfileTab  === 2}">
          <ion-icon name="fitness"></ion-icon>
          <span>Treningi</span>
        </div>
        <div class="achivments" routerLink="/user/profile/achivment" (click)="switchProfileTab(3)" [ngClass]="{'tab-select':selectedProfileTab  === 3}">
          <ion-icon name="trophy"></ion-icon>
          <span>Osiągnięcia</span>
        </div>
    </ng-container>

    <ng-container *ngIf="user.userType === 4">
        <div class="friends" routerLink="/user/profile/friends" (click)="switchProfileTab(1)" [ngClass]="{'tab-select':selectedProfileTab  === 1}">
          <ion-icon name="contacts"></ion-icon>
          <span>Znajomi</span>
        </div>
        <div class="ratings" routerLink="/user/profile/rate-guest" (click)="switchProfileTab(2)" [ngClass]="{'tab-select':selectedProfileTab  === 2}">
          <ion-icon name="star-outline"></ion-icon>
          <span>Rate</span>
        </div>
    </ng-container>
    </div>
    <router-outlet></router-outlet>
  </div>
</ion-content>
