<ion-header>
  <ion-toolbar class="header__bar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-workouts" (click)="dismissModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Udostępnianie treningów</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Wybierz treningi</ion-label>
    <ion-select  interface="alert" multiple="true" placeholder="Wybierz" (ionChange)="workoutsSelected($event)" cancelText="Anuluj"> 
      <ion-select-option [value]="workoutIndex" *ngFor="let myWorkout of workoutsList;let workoutIndex = index;" >
        <p>{{myWorkout.title}}</p>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Wybierz komu udostępniasz</ion-label>
    <ion-select  interface="alert" multiple="false" placeholder="Wybierz" (ionChange)="selectReceiver($event)" cancelText="Anuluj"> 
      <ion-select-option [value]="friendIndex" *ngFor="let friend of friends;let friendIndex = index;" >
        <p>{{friend.name}} {{friend.surname}}</p>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="share__confirm" (click)="confirmShare()">
      Udostępnij
  </ion-button>
</ion-content>
