.mat-expansion-panel-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.mat-expansion-panel-header {
    padding-left: 0 !important;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    align-items: center !important;
}
.mat-expansion-panel {
    width: 100%;
}
