@import "../_variables.scss";
.alert-input-wrapper .alert-input {
    &:focus {
        border-bottom-color: $mixed-main-colours;
    }
}
.alert-title {
    font-size: 1rem !important;
}
[aria-checked="true"].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md {
    background-color: $mixed-main-colours;
    border-color: $mixed-main-colours;
}
