@import "../_variables.scss";
.header__bar {
    --background: #fff;
    color: $primary-color;
    &--statistic {
        margin: 0;
        font-size: 1.2rem;
        &-small {
            font-size: .85rem;
        }
        &-icon {
            margin-left: .5rem;
        }
    }
}
