.title-input {
    background-color: transparent;
    width: 90%;
    border: none;
    font-size: 1.1rem;
    margin-left: .7rem;
    font-weight: bold;
    overflow: hidden;
    outline: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.profile-tab{
    --background: #13986B;
}
.profile-tab-text{
    color: #fff;
}
.profile-header{
    overflow: hidden;
}
.notify{
    height: 2rem;
    color: #fff;
}
