<ion-header>
  <ion-toolbar class="header__bar">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false" class="site-menu-icon" *ngIf="!backButtonVisible"></ion-menu-button>
      <ion-back-button defaultHref="my-workouts" *ngIf="backButtonVisible"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ng-container [ngTemplateOutlet]="additionalTemplate"></ng-container>
    </ion-buttons>
    <ion-title *ngIf="!titlEditable">{{ title }}</ion-title>
    <input type="text" [(ngModel)]="title" class="title-input" name="repeats" (change)="titleChange()" *ngIf="titlEditable">
  </ion-toolbar>
</ion-header>