i{
    font-size: 150px;
  }
  .main-container{
    text-align: center;
    height: 100vh;
    padding: 20rem;
    background-image: linear-gradient(to left bottom, #15e6b5, #39e9b1, #4fecad, #61efaa,#71f2a6, #6ff19e, #6eef95, #6eee8c, #5ce87b, #49e268, #32dc55, #09d63f);
  }
  @media only screen and (max-width: 800px) {
    .main-container{
      padding: 5rem;
    }
  }
