<ion-content>
  <ion-back-button defaultHref="chat" (click)="dismissModal()"></ion-back-button>
<div class="policy">
<h1>Regulamin</h1>
<h3>Witamy na platformie FitUp</h3>

<p>Platforma FitUp(dalej platforma) umożliwia ludziom zaangażowanym w sport łączenie się i komunikowanie oraz budowanie społeczności ludzi trenujących sporty siłowe i sylwetkowe. Niniejszy regulamin reguluje sposób korzystania przez użytkownika z platformy oraz przetwarzanie danych użytkownika.</p>

<h4>1. Świadczone usługi</h4>
<ol>
<li>Dajemy możliwość komunikowania się osób trenujących z trenerami.</li>
<li>Umożliwiamy udostępnianie planów treningów stworzonych przez trenerów</li>
<li>Umożliwiamy tworzenie planów własnych treningów.</li>
<li>Dajemy możliwość kreowania wizerunku w społeczności na platformie(nie odpowiadamy za wyżej wspomniany wizerunek)</li>
</ol>

<p>Uzyskanie dostępu do Usług wiąże się z koniecznością utworzenia konta użytkownika platformy FitUp. Bardzo ważne jest, aby informacje powiązane z Państwa kontem użytkownika były dokładne i aktualne.</p>

<h4>2.Przetwarzanie danych</h4>
<p>Dane osobowe są to informacje, które mogą być wykorzystane do zidentyfikowania Państwa, bezpośrednio lub pośrednio, samodzielnie lub łącznie z innymi informacjami.</p>

<p>Aby móc dostarczać usługi na naszej platformie musimy zbierać podstawowe dane osobowe od użytkowników t. j. adres email, imię, nazwisko, płeć, przesłane zdjęcia.
W związku z powyższym dane te przechowywujemy.</p>

<p>Jak gromadzimy dane osobowe?
Podczas rejestracji konta
Gdy potwierdzacie Państwo zgodę na dostęp aplikacji do danych.</p>

<h4>Podejmiemy odpowiednie kroki, aby Państwa Dane osobowe były poprawne i aktualne. Jeśli mieszkacie Państwo na terytorium Europejskiego Obszaru Gospodarczego, macie Państwo pewne prawa do danych zgromadzonych przez platformę FitUP na Państwa temat.</h4>




<p>Państwa prawa do danych zgromadzonych na platformie FitUp:</p>
<ol>
  <li>Prawo dostępu do Państwa Danych osobowych (art. 15 RODO): Macie Państwo prawo do zwrócenia się do nas z prośbą o potwierdzenie, czy przetwarzamy Państwa Dane osobowe oraz do dostępu do Danych osobowych i związanych z nimi informacji na temat tego przetwarzania (np. cele przetwarzania lub kategorie Danych osobowych).</li>
  <li>Prawo do korekty (art. 16 RODO): Macie Państwo prawo do poprawienia swoich danych osobowych, zgodnie z przepisami prawa.</li>
  <li>Prawo do usunięcia (art. 17 RODO): Macie Państwo prawo zażądać od nas usunięcia Państwa Danych osobowych, zgodnie z przepisami prawa. Prawo to może być wykonywane między innymi: (i) gdy Państwa Dane osobowe nie są już potrzebne do celów, dla których zostały zgromadzone lub dla których w inny sposób były przetwarzane; (ii) gdy wycofujecie Państwo zgodę, na podstawie której opiera się przetwarzanie danych zgodnie z art. 6 ust. 1 lit. a) lub art. 9 ust. 2 lit. a) RODO i gdy nie ma innej podstawy prawnej do przetwarzania danych; (iii) gdy sprzeciwiacie się Państwo przetwarzaniu danych zgodnie z art. 21 ust. 1 RODO i nie ma nadrzędnych podstaw prawnych do przetwarzania danych lub gdy sprzeciwiacie się Państwo przetwarzaniu danych zgodnie z art. 21 ust. 2 RODO; lub (iv) gdy Państwa Dane osobowe zostały przetworzone niezgodnie z prawem.</li>
  <li>Prawo do ograniczenia przetwarzania danych (art. 18 RODO): Macie Państwo prawo żądać ograniczenia naszego przetwarzania danych w ograniczonych okolicznościach, w tym: w przypadku zakwestionowania dokładności Państwa Danych osobowych; w przypadku gdy przetwarzanie danych jest niezgodne z prawem i gdy sprzeciwiacie się Państwo usunięciu swoich danych osobowych i w zamian wnosicie Państwo o ograniczenie ich wykorzystywania; lub w przypadku gdy sprzeciwiacie się Państwo przetwarzaniu danych zgodnie z art. 21 ust. 1 RODO w oczekiwaniu na weryfikację, czy uzasadnione podstawy FitUp przeważają nad Państwa podstawami.</li>
  <li>Prawo do przenoszenia danych (art. 20 RODO): Macie Państwo prawo do otrzymywania przekazanych nam Danych osobowych w ustrukturyzowanym, powszechnie wykorzystywanym i nadającym się do odczytu maszynowego formacie oraz do przesyłania tych informacji do innego administratora, w tym do bezpośredniego ich przesyłania, o ile jest to technicznie wykonalne.</li>
  <li>Prawo do sprzeciwu (art. 21 RODO): Macie Państwo prawo sprzeciwić się przetwarzaniu przez nas Państwa Danych osobowych, zgodnie z przepisami prawa. Prawo to jest ograniczone do przetwarzania danych na podstawie art. 6 ust. 1 lit. e) lub f) RODO i obejmuje profilowanie na podstawie tych przepisów oraz przetwarzanie danych do celów marketingu bezpośredniego. Po tym czasie nie będziemy już przetwarzać Państwa Danych osobowych, chyba że będziemy w stanie wykazać istotne i uzasadnione podstawy przetwarzania, które mają charakter nadrzędny w stosunku do Państwa interesów, praw i wolności lub w celu ustalenia, wykonania lub obrony roszczeń prawnych</li>
</ol>
Usunięcie konta jest realizowane po wniosku na adres e mail : FitUp@kontakt.com
</div>
</ion-content>
