<ion-header>
  <ion-toolbar class="header__bar">
    <ion-title>{{ notification.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container [ngSwitch]="notification.type">
    <ion-grid>
      <app-friends-invitation *ngSwitchCase="notificationTypes.friendInvitation" [notification]="notification" [index]="currentIndex"></app-friends-invitation>
      <app-friends-invitation-response *ngSwitchCase="notificationTypes.friendInvitationResponse" [notification]="notification"></app-friends-invitation-response>
      <app-info *ngSwitchCase="notificationTypes.info" [notification]="notification"></app-info>
      <app-workout-share-notification *ngSwitchCase="notificationTypes.workoutsShare" [sharedWorkoutNotification]="notification"></app-workout-share-notification>
      <ion-row>
        <ion-col>
            <ion-button class="unframed-primary-button" fill="clear" (click)="closeModal()">
                <ion-icon name="arrow-dropleft"></ion-icon>
                Powrót
            </ion-button>
        </ion-col>
        <ion-col size="auto">
            <button class="short-button short-button-tertiary" (click)="removeNotification()">
                <ion-icon name="trash" class="trash-icon"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>  
</ion-content>
