<div class="summary">
  <p>Liczba znajomych: {{numberOfFriends}}</p>
  <ng-container *ngIf="userType === 1 || userType === 2 ">
    <ion-icon class="add-friend" (click)="displayAddFriends()" name="person-add"></ion-icon>
  </ng-container>
</div>
<ion-item>
    <ion-avatar slot="start">
      <img src="assets/images/profile-picture.png">
    </ion-avatar>
    <ion-label>
      <h3>Lorem ipsum</h3>
      <p>dolor sit amet</p>
      <p>consectetur adipiscing elit. Duis ut urna neque.</p>
    </ion-label>
  </ion-item>
