<div class="header">
  <h2>Znajomi</h2>
  <ng-container *ngIf="isMyProfile">
    <img src="../../../../../../assets/custom_icons/svg/add_friend.svg" class="add-friend" (click)="displayAddFriends()" alt="chat">
  </ng-container>
</div>

<div class="summary">
  <ion-searchbar placeholder="{{ friends.length }} kontaktów"></ion-searchbar>
</div>
<ion-item *ngFor="let friend of friends" (click)="visitFriend(friend)">
    <ion-avatar slot="start">
      <img [src]="friend.imgUrl || 'assets/images/profile-picture.png'">
    </ion-avatar>
    <ion-label>
      <h3>{{friend.name}} {{friend.surname}}</h3>
      <p>{{ friend.profileDescription.substr(0, 60) }}<ng-container *ngIf="friend.profileDescription.substr(0, 60).length === 60">...</ng-container></p>
    </ion-label>
</ion-item>
