@import '../../../../../../styles/variables';
@import '../../../../../../styles/animations';
.header{
    color: #555;
    padding: .5rem;
    display: flex;
}
.summary{
    padding: .5rem;
    display: flex;
    color: #555;
    position: relative;
}
.add-friend{
    width: 1.5rem;
    right: 1rem;
    position: absolute;
    margin-top: 1rem;
}
