<ion-header>
  <ion-toolbar class="header__bar">
    <ion-title>Powiadomienia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h6 *ngIf="notifications.length <= 0" class="empty-notifications">Brak dostępnych powiadomień</h6>
  <ion-grid>
    <ion-row class="single-notification" *ngFor="let notification of notifications; let i = index" (click)="presentModal(notification, i)">
      <ion-col>
          <ion-row class="ion-align-items-end">
              <ion-col>
                <h5>{{ notification.title }}</h5>
                <p>{{ notification.message.substr(0, 60) }}<ng-container *ngIf="notification.message.substr(0, 60).length === 60">...</ng-container></p>
              </ion-col>
              <ion-col size="auto">
                  <h6 class="single-notification__date">{{ notification.creationDate | date: 'dd.MM.yyyy' }}</h6>
                  <ion-button class="unframed-primary-button" fill="clear">
                      Więcej
                      <ion-icon name="arrow-dropright"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h6>-{{ notification.author.name }} {{ notification.author.surname }}</h6>
              </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
