<ion-header>
  <ion-toolbar class="header__bar">
    <ion-title>Powiadomienia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="single-notification">
      <ion-col>
          <ion-row class="ion-align-items-end">
              <ion-col>
                <h5>Tytuł powiadomienia</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit... </p>
              </ion-col>
              <ion-col size="auto">
                  <ion-button class="unframed-primary-button" fill="clear">
                      Więcej
                      <ion-icon name="arrow-dropright"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h6>-Autor powiadomienia</h6>
              </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="single-notification">
        <ion-col>
            <ion-row class="ion-align-items-end">
                <ion-col>
                  <h5>Tytuł powiadomienia</h5>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit... </p>
                </ion-col>
                <ion-col size="auto">
                    <ion-button class="unframed-primary-button" fill="clear">
                        Więcej
                        <ion-icon name="arrow-dropright"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h6>-Autor powiadomienia</h6>
                </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="single-notification">
          <ion-col>
              <ion-row class="ion-align-items-end">
                  <ion-col>
                    <h5>Tytuł powiadomienia</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit... </p>
                  </ion-col>
                  <ion-col size="auto">
                      <ion-button class="unframed-primary-button" fill="clear">
                          Więcej
                          <ion-icon name="arrow-dropright"></ion-icon>
                      </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                    <h6>-Autor powiadomienia</h6>
                  </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
