$primary-color: #13986B;
$secondary-color: #FB7D4E;
$tertiary-color: #7ED56F;
$main-error-colour: #ff0033;
$blue-theme-color: rgba(63,94,251,1);
$orange-theme-color: rgba(224,92,48,1);

$green-teal-gradient: linear-gradient(to left bottom, #15e6b5, #39e9b1, #4fecad, #61efaa,#71f2a6, #6ff19e, #6eef95, #6eee8c, #5ce87b, #49e268, #32dc55, #09d63f); 
$green-blue-gradient: linear-gradient(to right top, #15e6b5, #39e9b1, #4fecad, #61efaa, #71f2a6, #6af2ae, #63f3b6, #5cf3be, #3ef0d1, #22ede2, #1ce8f0, #34e3fa);
$red-gradient: linear-gradient(to right top, #f41919, #f41b25, #f41f2f, #f32338, #f22840, #f32b43, #f32e45, #f43148, #f73346, #fa3543, #fc3741, #ff393e);
$blue-purple-gradient: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$orange-darken-gradient: linear-gradient(90deg, rgba(252,176,69,1) 30%, rgba(224,92,48,1) 69%);
