$primary-color: #13986B;
$secondary-color: #FB7D4E;
$tertiary-color: #7ED56F;
$main-error-colour: #ff0033;
$blue-theme-color: rgba(63,94,251,1);
$orange-theme-color: rgba(224,92,48,1);

$blue-purple-gradient: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$orange-darken-gradient: linear-gradient(90deg, rgba(252,176,69,1) 30%, rgba(224,92,48,1) 69%);
