<app-header [title]="'Rozpocznij trening'"></app-header>
<ion-content>
  <ion-item>
    <ion-label>Wybierz trening z listy</ion-label>
    <ion-select  interface="alert" multiple="false" placeholder="Wybierz" (ionChange)="optionSelected($event)" cancelText="Anuluj"> 
      <ion-select-option value="-5" selected>Nowy trening</ion-select-option>
      <ion-select-option [value]="workoutIndex" *ngFor="let myWorkout of workoutsList;let workoutIndex = index;" >
        <p>{{myWorkout.title}}</p>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <input type="text" [(ngModel)]="workoutTitle" class="title-input" name="title" placeholder="Nowy trening" [disabled]="selectedWorkout">
  <ion-grid >
    <ion-row *ngIf="selectedWorkout" class="ion-justify-content-around">
      <ion-col size="auto"><p class="workout__container--info">Liczba ćwiczeń: <span class="amount">{{ selectedWorkout.excercises.length }}</span> </p></ion-col>
      <ion-col size="auto"><p class="workout__container--info">Liczba serii: <span class="amount">{{ calcSeriesAmount(selectedWorkout) }}</span> </p></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="start-training" (click)="startTraining()">Rozpocznij trening</ion-button>
</ion-content>