@import "../../../../../styles/variables";
.start-training {
    --background: #13986B;
    margin-top: 6rem;
    --color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-bottom: 2rem;
}
.amount {
    font-size: 1.25rem;
    color: #13986B;
    font-weight: bold;
}
.title-input {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 10%;
    background-color: transparent;
    margin-top: 3rem;
    outline: none;
    &:disabled {
        color: #444;
        border-bottom-color: #444;
    }
    &:focus {
        border-bottom-color: #13986B;
        color: #13986B;
    }
}
