<ion-content>
    <div class="container--logo">
            <ion-img src="assets/images/Asset 12.svg"></ion-img>
    </div>
    <div class="container">
        <form [formGroup]="passResetForm" (ngSubmit)="onSubmit()">
            <div class="group">      
                <input class="password-reset-input" placeholder="Email" type="text" required formControlName="email" id="email">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="submit-container">
                <ion-button class="auth-submit" type="submit">Resetuj hasło</ion-button>
            </div>
        </form>
        <p class="info">Na twojego maila wyślemy link do zresetowania hasła.</p>
    </div>
</ion-content>
 