<ion-content>
  <div class="search-container">
    <ion-icon (click)="dismissModal()" class="back" name="arrow-round-back"></ion-icon>
    <input (keyup)="addSearchString($event)" placeholder="Wyszukaj..." class="search-bar" type="search">
    <ion-icon class="search-button" name="search"></ion-icon>
  </div>
  <ion-list>
    <ion-list-header>
      Osoby:
    </ion-list-header>
    <div [ngClass]="{'loader': !isLoaded}"></div>
    <div *ngFor="let pl of players;">
      <ion-item>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col size="10" (click)="goToProfile(pl)">
              <ion-label>
                <h2>{{pl.name}} {{pl.surname}}</h2>
                <p>{{pl.email}}</p>
              </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="person-add" (click)="addToFriends(pl)" class="friend-adder" [ngClass]="{'invited': pl.isInvitedToFriends}" *ngIf="!pl.didInvite && !pl.isFriend"></ion-icon>
              <ion-icon name="person-add" class="friend-adder" *ngIf="pl.didInvite" (click)="confirmFriendInvitation(pl)"></ion-icon>
              <ion-icon name="contacts" *ngIf="pl.isFriend" class="friend-adder invited"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
