@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/animations';
.search-bar{
    border-radius: .5rem;
    outline: 0;
    width: 70%;
    height: 50%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: auto;
    position: absolute;
    top: .75rem;
    left: 3.75rem;
}
.search-container{
    padding: 1rem;
    height: 10vh;
    border-bottom: solid 1px rgb(153, 153, 153);
    position: relative;
}
.search-button{
    font-size: 2rem;
    position: absolute;
    top: .75rem;
    right: .5rem;
    color: #555;
}
.back{
    font-size: 2rem;
    position: absolute;
    top: .75rem;
    left: .25rem;
    color: #555;
}
ion-icon{
    margin-left: .25rem;
}
