<ion-content>
  <div class="search-container">
    <ion-icon (click)="dismissModal()" class="back" name="arrow-round-back"></ion-icon>
    <input (keyup)="addSearchString($event)" placeholder="Wyszukaj..." class="search-bar" type="search">
    <ion-icon class="search-button" name="search"></ion-icon>
  </div>
  <ion-list>
    <ion-list-header>
      Osoby:
    </ion-list-header>
    <div [ngClass]="{'loader': !isLoaded}"></div>
    <div *ngFor="let pl of players;">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="10" (click)="goToProfile(pl)">
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="pl.userProfile.imgUrl">
              </ion-avatar>
              <ion-label>
                <h2>{{pl.name}} {{pl.surname}}</h2>
                <p>{{ pl.userProfile.profileDescription.substr(0, 60) }}<ng-container *ngIf="pl.userProfile.profileDescription.substr(0, 60).length === 60">...</ng-container></p>
                <ng-container *ngIf="pl.accessLevel === 2">
                  <ion-badge color="success">Trener<ion-icon name="done-all"></ion-icon></ion-badge>
                </ng-container>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="person-add" (click)="addToFriends(pl)" class="friend-adder" [ngClass]="{'invited': pl.isInvitedToFriends}" *ngIf="!pl.didInvite && !pl.isFriend"></ion-icon>
            <ion-icon name="stopwatch" class="friend-adder invited" *ngIf="pl.didInvite"></ion-icon>
            <ion-icon name="contacts" *ngIf="pl.isFriend" class="friend-adder invited"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-infinite-scroll threshold="10px" (ionInfinite)="showPlayers($event)" [disabled]="scrollDisabled">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Ładowanie...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
