@import '../../../../styles/_variables.scss';
.ion-tab-bar {
    background: #efefef;
    &-button {
        background: inherit;
    }
    .tab-selected, .perma-active {
        color: $mixed-main-colours;
    }
}
