ion-badge{
    position: absolute;
    top: 1.25rem;
    left: 0px;
    z-index: 999;
}
ion-avatar{
    margin-right: 1rem;
}
.back-button{
    font-size: 2rem;
    margin-left: 1rem;
    color: #555;
}
