<ion-content>
<ion-toolbar class="header__bar">
    <ion-icon routerLink="/user/profile" class="back-button" name="arrow-round-back"></ion-icon>
</ion-toolbar>
<ion-list>
  <ion-list-header>
    Ostatnie rozmowy
  </ion-list-header>
  <div *ngFor="let conversation of conversations;">
    <ion-item (click)="displayConversation(conversation)">
      <ion-avatar>
        <img [src]="conversation.members[conversation.userIndex].userProfile.imgUrl">
      </ion-avatar>
      <ion-label  [ngClass]="{'unreaded': !conversation.members[1 - conversation.userIndex].isReaded && !currentModal}">
        <h2>{{conversation.members[conversation.userIndex].userProfile.name + ' ' + conversation.members[conversation.userIndex].userProfile.surname}}
        </h2>
        <p>{{conversation.messages[conversation.messages.length - 1].content}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-list>
</ion-content>
