<ion-content>
<ion-toolbar class="header__bar">
    <ion-icon routerLink="/user/profile" class="back-button" name="arrow-back-outline"></ion-icon>
</ion-toolbar>
<ion-list>
  <ion-list-header>
    <h5 *ngIf="conversations.length > 0">Ostatnie rozmowy</h5>
    <h5 *ngIf="conversations.length === 0">Brak odbytych rozmów</h5>
  </ion-list-header>
  <div *ngFor="let conversation of conversations;">
    <ion-item (click)="displayConversation(conversation)">
      <ion-avatar>
        <img [src]="conversation.members[conversation.userIndex].userProfile.imgUrl">
      </ion-avatar>
      <ion-label  [ngClass]="{'unreaded': !conversation.members[1 - conversation.userIndex].isReaded && !currentModal}">
        <h2 class="conversation__title">
          {{conversation.members[conversation.userIndex].userProfile.name + ' ' + conversation.members[conversation.userIndex].userProfile.surname}}
          <span class="conversation__date">{{conversation.lastEditionDate | date: 'dd.MM.yyyy'}}</span>
        </h2>
        <p>
          {{conversation.messages[conversation.messages.length - 1].content }}
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-list>
</ion-content>
