<ion-content>
<ion-toolbar class="header__bar">
    <ion-icon routerLink="/user/profile" class="back-button" name="arrow-round-back"></ion-icon>
</ion-toolbar>
<ion-list>
  <ion-list-header>
    Ostatnie rozmowy
  </ion-list-header>
  <div *ngFor="let conversation of privateConversations; let i = index;">
  <ion-item routerLink="/chat/conversation">
    <ion-avatar>
      <img src="../../../../../assets/images/profile-picture.png">
    </ion-avatar>
    <ion-label *ngIf="conversation.isReaded === true; else Marked">
      <h2>{{conversation.whoTexted}}</h2>
      <p>{{conversation.lastMessage}}</p>
    </ion-label>
  </ion-item>
</div>
</ion-list>
<ng-template #Marked>
    <b>
      <h2>{{privateConversations[0].whoTexted}}</h2>
      <p>{{privateConversations[0].lastMessage}}</p>
    </b>
  </ng-template>
</ion-content>
