<ion-header>
  <ion-toolbar class="header__bar">
    <ion-title>Moje Treningi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="myWorkouts.length === 0">
    <h5 class="empty-trainings">Brak zapisanych treningów</h5>
  </div>
  <div class="workout__container" *ngFor="let myWorkout of myWorkouts;let workoutIndex = index;">
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>
          <h5 class="workout__container--title">{{ workoutIndex + 1 }}. {{myWorkout.title}}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <p class="workout__container--info">Liczba ćwiczeń: {{ myWorkout.excercises.length }}</p>
            <p class="workout__container--info">Liczba seri: {{ calcSeriesAmount(myWorkout) }}</p>
        </ion-col>
        <ion-col>
            <ion-button class="workout__container--button ion-float-right" (click)="openWorkoutDetails(myWorkout, workoutIndex)">
                Więcej
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-button class="workout__container--button workout-adder" (click)="addNewWorkout()">
      Dodaj nowy trening
      <ion-icon slot="end" name="add"></ion-icon>
  </ion-button>
</ion-content>
