@import "../../../../styles/variables";

.empty-trainings {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    color: #333;
}
.workout__container {
    padding: 1.2rem;
    min-height: 85%;
    .workout__item {
        background-color: green;
        border-left: .5rem solid lightgreen;
        border-radius: 4px;
        color: white;
    }
    &--title {
        margin-top: 0;
    }
    &--info {
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
    &--button {
        --background: orange;
        --color: #fff;
    }
    &--icon {
        box-shadow: none;
        background: transparent;
        font-size: 2rem;
    }
}
.workout-adder {
    margin: 2rem 1rem;
}
