<ion-header>
  <ion-toolbar class="header__bar">
    <ion-grid>
      <ion-row class="ion-text-center ion">
        <ion-col>
          <h6 class="header__bar--statistic"> {{ distancePassed }} <span class="header__bar--statistic-small">Km</span></h6>
        </ion-col>
        <ion-col>
          <ion-row class="ion-align-items-center ion-justify-content-center">
              <h6 class="header__bar--statistic">{{ trainingTime.minutes }}.{{ trainingTime.seconds }}</h6>
              <ion-icon name="time" class="header__bar--statistic-icon ion-align-self-end"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <div class="map">
      <agm-map 
      [latitude] = "userLat" 
      [longitude] = "userLng"
      [zoom] = "16"
      [styles] = "mapStyles"
      [panControl] = "true"
      [zoomControl] = "false"
      >
        <agm-marker [latitude]="userLat" [longitude]="userLng" [iconUrl]="markerIcon"></agm-marker>
        <agm-polyline [editable]="false" [strokeColor]="trainingOptions.mapTraceColor">
          <agm-polyline-point *ngFor="let data of traceMap" 
              [latitude]="data.lat"
              [longitude]="data.lng"
              >
          </agm-polyline-point>
      </agm-polyline>
      </agm-map>
  </div>
  <button class="short-button short-button-secondary theme-swap-button" (click)="toggleMapMode()">
      <ion-icon [name]="mapThemeIcon" class="short-button-icon"></ion-icon>
  </button>
  <ion-grid class="bottom-buttons-row">
    <ion-row>
      <ion-col>
          <button class="short-button short-button-secondary" (click)="toggleTrainingState()">
              <ion-icon [name]="trainingModeIcon" class="short-button-icon"></ion-icon>
          </button>
      </ion-col>
      <ion-col>
          <button class="short-button short-button-primary mx-auto">
              <ion-icon name="square" class="short-button-icon"></ion-icon>
          </button>
      </ion-col>
      <ion-col>
          <button class="short-button short-button-secondary ml-auto" (click)="showInformations()">
              <ion-icon name="more" class="short-button-icon"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
