@import '../../../styles/_variables.scss';
@import '../../../styles/components/_buttons.scss';
.container {
    position: relative;
    .bottom-buttons-row {
        position: fixed;
        bottom: 1rem;
        left: 2rem;
        right: 2rem;
        .short-button {
            position: relative;
        }
    }
    .map {
        height: 100%;
        agm-map {
            height: 100%;
        }
    }
    .theme-swap-button {
        position: fixed;
        top: 4rem;
        right: 2rem;
    }
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .ml-auto {
        margin-left: auto;
    }
}
