@import '../../../../styles/_variables.scss';
@import '../../../../styles/components/_auth-form.scss';
.container {
    width: 100vw;
    height: 100vh;
    
    &--form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        overflow-x: hidden;
        padding-top: 10%;
        &-reminder {
            text-align: center;
            cursor: pointer;
            color: #555;
            transition: all .5s;
        }
    }
    &--logo {
        margin-top: 5%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        img {
            width: 100%;
        }
    }
}
.auth-submit {
    --background: #FB7D4E; 
    --color: #fff;
    --border-radius: 0.75rem;
    --box-shadow:  0px 17px 47px #FFC9B5;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
}
input:focus ~ .container--form-icon {
    color: #fff;
}
.has-no-account {
    color: #555;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    &-registration {
        transition: all .5s;
        background: $green-teal-gradient;
        background-clip: text;
        color: transparent;
        margin-top: 1rem;
        cursor: pointer;
    }
}
.invalid-response {
    text-align: center;
    color: #ff172e;
    font-weight: bold;
}
