<div class="container">
  <div class="container--logo">
      <ion-img src="assets/images/logo.png"></ion-img>
  </div>
  <div class="container--form">
    <form>
        <div class="group">      
          <input type="text" required>
          <ion-icon name="mail" class="container--form-icon"></ion-icon>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>
          
        <div class="group">      
          <input type="password" required>
          <ion-icon name="lock" class="container--form-icon"></ion-icon>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Hasło</label>
        </div>
        <ion-button expand="block" class="auth-submit">Zaloguj</ion-button>
        <p class="invalid-response" >Konto nieaktywne, link aktywacyjny został wysłany ponownie</p>
        <p class="container--form-reminder">Nie pamiętasz hasła ?</p>
      </form>
      <div class="has-no-account">
          <span class="has-no-account-message">Nie masz jeszcze konta?  
            <span class="has-no-account-registration" routerLink="../registration" routerLinkActive="active">Zarejestruj się</span> 
          </span>
      </div>
      
  </div>
</div>
