<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="container--logo">
            <ion-img src="assets/images/Asset 12.svg"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    <div class="container--form">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <ion-row>
            <ion-col>
              <div class="group">      
                <input type="text" required formControlName="email" id="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="group">      
                <input type="password" required formControlName="password">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Hasło</label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="auth-submit" type="submit">Zaloguj</ion-button>
            </ion-col>
          </ion-row>
          <p class="invalid-response" *ngIf="validationMessage">{{ validationMessage }}</p>
          <ion-row>
            <ion-col>
              <p class="container--form-reminder">Nie pamiętam hasła.</p>
            </ion-col>
          </ion-row>
        </form>
            <div class="has-no-account">
              <ion-row>
                <ion-col>
                  <span class="has-no-account-message">Nie masz jeszcze konta? </span> 
                  <span class="has-no-account-registration" routerLink="../registration" routerLinkActive="active">Zarejestruj się</span>
                </ion-col>
              </ion-row>   
            </div>
      </div>
    </ion-grid>
  </div>  
</ion-content>
