@import '../../../../../styles/_variables.scss';
.activity-menu-button {
    --border-color: #09d63f;
    --color: #09d63f;
    margin-top: 5%;
}
ion-content{
    text-align: center;
}

.goal-input{
    border: solid 1px #09d63f;
    border-radius: 8px;
    border-bottom: solid 3px #09d63f;
    margin-top: 8%;
    width: 200px;
    height: 50px;
    &:focus{
        border: solid 1px #09d63f;
        border-bottom: solid 3px #09d63f; 
    }
}