<div class="logo">
  <img class="logo-image" src="assets/images/logo.png">
</div>
<div class="main-screen">
  <div class="email-status">
    <h2>Twój adres email został potwierdzony</h2>
  </div>
  <div class="info-graph">
    <div class="step">
        <i class="material-icons">
            done_outline
        </i><br>
        Rejstracja
    </div>
    <div class="step">
        <i class="material-icons">
            done_outline
        </i><br>
        Potwierdzenie adresu email</div>
    <div class="step">
        <i class="material-icons">
            how_to_reg
        </i><br>
        Gratulacje!! Teraz możesz w pełni cieszyć się aplikacją XYZ</div>
</div>
</div>
<div class="footer">

</div>

