@import '../../../../../styles/variables';
@import '../normal-user/normal-user.component.scss';
.main-container{
    height: 100vh;
    &-profile{
        height: 60%;
        display: block;     
    }
}
.ratings, .friends, .settings{
    width: 33%;
    text-align: center;
    display: block;
    outline: 0;
}
