<ion-content>
  <div class="main-container">
    <div class="main-container-profile">
      <div class="profile-picture" [ngClass]="{'gradient-1':user.gradient  === 1, 'gradient-2':user.gradient  === 2, 'gradient-3':user.gradient  === 3}">
        <img-loader (click)="presentActionSheet()" [src]="user.imgUrl" [imgAttributes]="imageAttributes" useImg></img-loader>
      </div>
      <div class="profile-description">
        <h2>{{user.userName}} {{user.userSurname}}</h2>
        <p>{{user.profileDescription}}</p>
      </div>
    </div>
    <div class="profile-tab">
      <div class="ratings" routerLink="/user/coach/rate" (click)="switchProfileTab(1)" [ngClass]="{'tab-select':selectedProfileTab  === 1}">
        <ion-icon name="star-outline"></ion-icon>
        <span>Opinie</span>
      </div>
      <div class="friends" routerLink="/user/coach/friends" (click)="switchProfileTab(2)" [ngClass]="{'tab-select':selectedProfileTab  === 2}">
        <ion-icon name="contacts"></ion-icon>
        <!--<ion-badge color="danger" slot="end">99+</ion-badge>-->
        <span>Znajomi</span>
      </div>
      <div class="settings" routerLink="/user/coach/settings" (click)="switchProfileTab(4)" [ngClass]="{'tab-select':selectedProfileTab  === 4}">
        <ion-icon name="settings"></ion-icon>
        <span>Ustawienia</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</ion-content>
