.fitup-menu {
    --width: 250px;

    &__title {
        padding: 0;
    }

    &__list {
        min-height: 90%;
    }

    .menuItemSelected {
        --color: green !important;
        .menu-icon {
            color: green;
        }
    }
    
    .menu-icon {
        margin-right: 1rem;
    }
    
}
