@import '../../../../../../styles/variables';
@import '../../normal-user/normal-user.component.scss';
.main-container{
    height: 100vh;
    &-profile{
        height: 60%;
        display: block;     
    }
}
.ratings, .friends{
    width: 50%;
    text-align: center;
    display: block;
    outline: 0;
}
.two-holder{
    width: 50%;
    display: flex;
    margin: 0 auto;
}
