<ion-content>
    <div class="main-container">
      <div class="main-container-profile">
        <div class="profile-picture">
          <img-loader (click)="presentActionSheet()" [src]="profilePicturePath" [imgAttributes]="imageAttributes" useImg></img-loader>
        </div>
        <div class="profile-description">
          <h2>{{user.userName}} {{user.userSurname}}</h2>
          <p>{{user.profileDescription}}</p>
        </div>
      </div>
      <div class="profile-tab">
        <div class="two-holder">
        <div class="ratings" routerLink="/coach-guest/rate-guest" (click)="switchProfileTab(1)" [ngClass]="{'tab-select':selectedProfileTab  === 1}">
          <ion-icon name="star-outline"></ion-icon>
          <span>Opinie</span>
        </div>
        <div class="friends" routerLink="/coach-guest/friends" (click)="switchProfileTab(2)" [ngClass]="{'tab-select':selectedProfileTab  === 2}">
          <ion-icon name="contacts"></ion-icon>
          <!--<ion-badge color="danger" slot="end">99+</ion-badge>-->
          <span>Znajomi</span>
        </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </ion-content>
  