@import '../../../../../../styles/variables';
@import '../../normal-user/normal-user.component.scss';
.main-container{
    height: 100vh;
    &-profile{
        height: 60%;
        display: block;     
    }
}
.trainings, .friends, .achivments{
    width: 33%;
    text-align: center;
    display: block;
    outline: 0;
    @media only screen and (max-width: 340px){font-size: 12px;}
}

