<ion-header>
  <ion-toolbar class="header__bar" *ngIf="currentWorkout">
      <ion-buttons slot="start" *ngIf="workoutMode !== modes.training">
          <ion-back-button defaultHref="my-workouts"></ion-back-button>
      </ion-buttons>
      <input type="text" [(ngModel)]="currentWorkout.title" class="title-input" name="repeats" (blur)="titleChanged()">
  </ion-toolbar>
</ion-header>
<ion-content [ngStyle]="{'height': deviceHeight + 'px'}">
  <mat-accordion *ngIf="currentWorkout">
    <ion-reorder-group [disabled]="workoutMode === modes.history" (ionItemReorder)="doReorder($event)">
      <ion-item lines="none" *ngFor="let excercise of currentWorkout.excercises;let excerciseIndex = index;">
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <ion-reorder slot="start"></ion-reorder>
                  <span class="exercise-name">{{ excercise.name }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ion-grid class="justify-content-between" class="series-grid" [ngClass]="{'history-series-grid': workoutMode === modes.history}">
                <ion-row>
                  <ion-col>
                    <h6 class="series-break">
                      Przerwa miedzy seriami: <input type="number" [(ngModel)]="excercise.breakTime" class="result-input" name="repeats" [disabled]="workoutMode === modes.history"
                      [ngClass]="{'input-in-history': workoutMode === modes.history}"> <span class="result-description">s.</span>
                    </h6>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let singleSet of excercise.series; let i = index;">
                  <ion-col size="auto">
                    <span class="result-counter">Seria {{ i + 1 }}.</span>
                  </ion-col>
                  <ion-col>
                    <input type="number" [(ngModel)]="singleSet.repeats" class="result-input" name="repeats" [disabled]="workoutMode === modes.history"
                    [ngClass]="{'input-in-history': workoutMode === modes.history}"> <span class="result-description">razy</span>
                  </ion-col>
                  <ion-col>
                    <input type="number" [(ngModel)]="singleSet.weight" class="result-input" name="weight" [disabled]="workoutMode === modes.history"
                    [ngClass]="{'input-in-history': workoutMode === modes.history}"> <span class="result-description">kg</span>
                  </ion-col>
                  <ion-col size="auto" *ngIf="workoutMode !== modes.history">
                    <button class="short-button short-button-primary" (click)="cloneSingleSet(excercise, i)">
                        <ion-icon name="add" class="short-button-icon"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col size="auto" *ngIf="workoutMode !== modes.history">
                    <button class="short-button short-button-tertiary" (click)="deleteSingleSet(excercise, i)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button class="delete-exercise ion-float-left" (click)="deleteExercise(excerciseIndex)" *ngIf="workoutMode !== modes.history">Usuń ćwiczenie</ion-button>
                  </ion-col>
                  <ion-col size="auto">
                    <button class="short-button short-button-primary" (click)="addSingleSet(excercise)" *ngIf="workoutMode !== modes.history">
                      <ion-icon name="add" class="short-button-icon"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button class="short-button short-button-secondary margin-left-auto" (click)="changeExerciseName(excercise)" *ngIf="workoutMode !== modes.history">
                      <ion-icon name="create" class="short-button-icon"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </mat-expansion-panel>
      </ion-item>
    </ion-reorder-group>
  </mat-accordion>  
  <button class="short-button short-button-primary add-exercise" (click)="addExercise()" *ngIf="workoutMode !== modes.history">
    <ion-icon name="add" class="short-button-icon"></ion-icon>
  </button>
  <button class="short-button short-button-secondary add-exercise" (click)="openTimer()" *ngIf="workoutMode === modes.training">
    <ion-icon name="time" class="short-button-icon"></ion-icon>
  </button>
  <ion-button class="end-training" (click)="finishWorkout()" *ngIf="workoutMode === modes.training">Zakończ trening</ion-button>
  <ion-grid  *ngIf="workoutMode === modes.trainingList">
    <ion-row class="ion-justify-content-between bottom-workout-row">
      <ion-col size="6">
        <ion-button class="save-workout" (click)="saveWorkoutState()">
          Zapisz zmiany
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="delete-workout" (click)="removeWorkout()">Usuń trening</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="end-training delete-workout delete-from-history" (click)="removeWorkoutFromHistory()" *ngIf="workoutMode === modes.history">Usuń z histori</ion-button>
</ion-content>
