@import '../../../../styles/_variables.scss';
@import '../../../../styles/components/_buttons.scss';

ion-item {
    --background: #fafafa;
}
ion-reorder-group {
    ion-item:nth-child(2n) {
        --background: #eee;
    }
}
.item-inener {
    --border: none !important;
}

.result-counter {
    margin-right: .7rem;
}
.exercise-name, .result-input {
    border: none;
    border-bottom: 1px solid black;
    width: 2.5rem;
    background-color: transparent;
    text-align: center;
    outline: none;
    &:focus {
        border-bottom-color: $mixed-main-colours;
        color: $mixed-main-colours;
    }
}
.exercise-name {
    width: 100%;
    margin-left: .5rem;
    text-align: left;
    border-bottom: none;
    display: flex;
    align-items: center;
} 
.result-description {
    font-size: .75rem;
}
.short-button {
    width: 2rem;
    height: 2rem;
    background: transparent;
}
.exercise-name {
    margin-left: .5rem;
}
.short-button {
    position: relative;
}
.series-grid {
    margin-bottom: 1rem;
}
.history-series-grid {
    margin-bottom: 0;
}
.series-grid ion-row:not(:last-child) {
    border-bottom: 1px solid lightgrey;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
.delete-exercise {
    --background: linear-gradient(to right top, #f41919, #f41b25, #f41f2f, #f32338, #f22840, #f32b43, #f32e45, #f43148, #f73346, #fa3543, #fc3741, #ff393e);
    margin-right: 2rem;
}
.add-exercise {
    float: right;
    margin:1.75rem 1.75rem 1.75rem 0
}
.end-training {
    --background: linear-gradient(to right top, #15e6b5, #39e9b1, #4fecad, #61efaa, #71f2a6, #6af2ae, #63f3b6, #5cf3be, #3ef0d1, #22ede2, #1ce8f0, #34e3fa);
    margin-top: 6rem;
    --color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-bottom: 2rem;
}
.delete-from-history {
    margin-top: 2rem;
}
.margin-left-auto {
    margin-left: auto;
}
ion-content {
    // height: calc(100vh - 169px);
    height: 100%;
    padding-bottom: 1rem;
}
.title-input {
    background-color: transparent;
    width: 90%;
    border: none;
    font-size: 1.1rem;
    margin-left: .7rem;
    font-weight: bold;
    overflow: hidden;
    outline: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.delete-workout {
    --background: linear-gradient(to right top, #f41919, #f41b25, #f41f2f, #f32338, #f22840, #f32b43, #f32e45, #f43148, #f73346, #fa3543, #fc3741, #ff393e);
    --color: white;
}
.input-in-history {
    border-bottom: none;
    color: $mixed-main-colours;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
